<!doctype html>
<html>
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1039678730594-214stbfdoetq158507q8n3sdpio7nld7.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

    <p><a href="/">Search for video games</a></p>
    <p><a href="/">Enter new video game info</a></p>

  </body>
</html>